.canvas-container {
    height: 500px;
    width: 500px;
    border: 2px solid #707070;
    background-color: white;
}
.button{
    text-decoration: none;
    color: white;
    padding: 0.7rem 1rem;
    white-space: nowrap;
    font-size: 1.2rem;
    border-radius:  5px;
    background-color: #707070;
    border-radius:  10px;


}
.button:hover,
.button.active {
    background: rgb(249, 145, 18);
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    color: wheat;
}

.buttonEraser{
    text-decoration: none;
    color: rgb(249, 145, 18);
    padding: 0.7rem 1rem;
    white-space: nowrap;
    border-radius:  10px;
    font-size: 1.2rem; 
    font-weight: bold;
}
.buttonEraser:hover,
.buttonEraser.active {
    background: rgb(249, 145, 18);
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    color: white;
    size: 20px;
    
}

.menuBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 0 30px;
    background-color:rgba(60, 60, 60, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    height: 65px;
    width: 30%;
    border-radius: 13px;
    position: fixed;
    object-fit: scale-down;
    left: 50%;
    transform: translate(-50%);
    bottom: .5rem;
    text-align: center
}


